<div class="container">
	<div class="row">
		<h1 class="title">About Me</h1>
	</div>
	<div class="row" id="about-me">
		<div class="col-4 oval-image-group">
			<div id="cyan-circle">
				<%= image_tag 'https://quigley-portfolio-bucket.s3.us-east-2.amazonaws.com/caitlin.jpeg', class: "oval-picture" %>
			</div>
		</div>
		<div class="col-4">
			<p class="text-center my-auto">I recently moved to New York from Atlanta with my dog, Wrigley. We live with my boyfriend, Lyle, in Manhattan.</p>
		</div>
		<div class="col-4 oval-image-group">
			<div id="pink-circle">
				<%= image_tag 'https://quigley-portfolio-bucket.s3.us-east-2.amazonaws.com/wrigley_portrait.jpg', class: "oval-picture" %>
			</div>
		</div>
	</div>
	<div class="row" id="coding-background">
		<div class="col-7">
			<p  class="text-center">During the summer of 2017, I attended the Ruby on Rails Code Immersion course at Tech Talent South. Since then, I have also learned the MERN stack through Codecademy Pro. I am available for freelance work in either stack!</p>
		</div>
		<div class="col-5 coding-logo-group">
			<%= image_tag 'https://quigley-portfolio-bucket.s3.us-east-2.amazonaws.com/coding_logos/ruby.jpg', class: "coding-logo" %>
			<%= image_tag 'https://quigley-portfolio-bucket.s3.us-east-2.amazonaws.com/coding_logos/rails-logo.svg', class: "coding-logo" %>
			<%= image_tag 'https://quigley-portfolio-bucket.s3.us-east-2.amazonaws.com/coding_logos/react-logo.png', class: "coding-logo" %>
			<%= image_tag 'https://quigley-portfolio-bucket.s3.us-east-2.amazonaws.com/coding_logos/nodejs-logo.png', class: "coding-logo" %>
		</div>
	</div>
	<div class="row" id="skills">
		<div class="col-6">
			<h3 class="text-center">Skills</h3>
		</div>
		<div class="col-3">
			<ul>
				<li>HTML</li>
				<li>CSS</li>
				<li>Sass</li>
				<li>Bootstrap</li>
				<li>Ruby</li>
				<li>Ruby on Rails</li>
			</ul>
		</div>
		<div class="col-3">
			<ul>
				<li>JavaScript</li>
				<li>React.js</li>
				<li>Express.js</li>
				<li>Node.js</li>
				<li>PostgreSQL</li>
				<li>MySQL</li>
				<li>SQLite</li>
			</ul>
		</div>
	</div>

	<div class="row" id="other-interests">
		<div class="col-6">
			<h3 class="text-center">Other Interests</h3>
		</div>
		<div class="col-6">
			<ul>
				<li>Life-long tennis player</li>
				<li>Avid Science Fiction reader</li>
				<li>Constant podcast listener</li>
				<li>Frequent home cook</li>
			</ul>
		</div>
	</div>
</div>