<div class="container">
	<h1>Contact Me</h1>
	<%= form_with model: @contact, local: true, class: "contact-form" do |form| %>
		<% if @contact.errors.any? %>
			<div class="error_explanation">
				<h2><%= pluralize(@contact.errors.count, "error") %>. Please correct before I can get your information.</h2>
				<ul>
					<% @contact.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
					<% end %>
				</ul>
		</div>
	<% end %>
		<div class="form-group">
			<div>
				<%= form.label :name %>
				<%= form.text_field :name, class: "form-control" %>
			</div>
			<div>
				<%= form.label :company %>
				<%= form.text_field :company, class: "form-control" %>
			</div>
			<div>
				<%= form.label :email %>
				<%= form.email_field :email, class: "form-control" %>
			</div>
			<div>
				<%= form.label :phone %>
				<%= form.telephone_field :phone, class: "form-control" %>
			</div>
			<div>
				<p>How do you prefer to be contacted?</p>
				<p><%= form.radio_button :method_of_contact, "email", class: "form-check form-check-inline" %>Email    <%= form.radio_button :method_of_contact, "phone", class: "form-check form-check-inline" %>Phone</p>
			</div>
			<div>
				<p>Please pick the industry which best represents your company:</p>
				<p><%= form.select :industry, options_for_select(@industries), { include_blank: false }, { class: "custom-select" } %> </p>
			</div>
			<div>
				<%= form.label :work_description %>
				<%= form.text_area :work_description, class: "form-control" %>
			</div>
			<p>
				<%= form.submit %>
			</p>
		</div>
	<% end %>
</div>