<div class="container">
		<h1 class="text-center my-2">Contact Me</h1>
	<%= form_with model: @contact, local: true, class: "contact-form" do |form| %>
		<div class="form-group">
			<div>
				<%= form.label :name %>
				<%= form.text_field :name, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= form.label :company %>
				<%= form.text_field :company, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= form.label :email %>
				<%= form.email_field :email, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= form.label :phone %>
				<%= form.telephone_field :phone, class: "form-control" %>
			</div>
			<div class="form-group">
				<p>How do you prefer to be contacted?</p>
				<%= form.radio_button :method_of_contact, "email", class: "form-check form-check-inline" %><%= form.label :method_of_contact_email, 'Email', class: "form-check-label" %>
				<%= form.radio_button :method_of_contact, "phone", class: "form-check form-check-inline" %><%= form.label :method_of_contact_phone, 'Phone', class: "form-check-label" %>
			</div>
			<div class="form-group">
				<p>Please pick the industry which best represents your company:</p>
				<p><%= form.select :industry, options_for_select(@industries), { include_blank: "Select Your Industry" }, { class: "custom-select" } %> </p>
			</div>
			<div class="form-group">
				<%= form.label :work_description %>
				<%= form.text_area :work_description, class: "form-control" %>
			</div>
			<p>
				<%= form.submit "Contact Me!", class: "btn btn-outline-dark btn-lg" %>
			</p>
		</div>
	<% end %>
</div>