<%= form_with model: @project, local: true, html: { enctype: "multipart/form-data" } do |form| %>
		<%= form.label :name %>
		<%= form.text_field :name %>
	</div>

	<div>
		<%= form.label "Project Description" %>
		<%= form.text_area :description %>
	</div>

	<div>
		<%= form.label :tech_stack %>
		<%= form.text_field :tech_stack %>
	</div>

	<div>
		<%= form.label :deployment %>
		<%= form.text_field :deployment %>
	</div>

	<p>
		<%= form.submit 'Create Project', class: "btn btn-info" %>
	</p>

<% end %>
