<%= form_with model: @project, local: true do |form| %>
	<% if @project.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
			<ul>
				<% @project.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= form.label :name %>
		<%= form.text_field :name %>
	</p>
	<p>
		<%= form.label :description %>
		<%= form.text_area :description %>
	</p>

	<p>
		<%= form.label :tech_stack %>
		<%= form.text_field :tech_stack %>
	</p>

	<p>
		<%= form.label :deployment %>
		<%= form.text_field :deployment %>
	</p>


	<!-- Make new tags if they aren't listed above -->
	<% form.fields_for :project_tags do |pt_form| %>

	<!-- Display tags with a project_tag for this project and way to remove them -->
		<% @tags.each do |t| %>
			<p><%= t.tag_name %> <%= button_tag 'Delete', method: :delete_pt %></p>
		<% end %>


			<% pt_form.fields_for :tags do |tag_form| %>
				<p>Enter new tag</p>
				<p><%= tag_form.text_field :tag_name %> <%= tag_form.submit 'Add Tag', method: :create_tag%></p>
			<% end %>
	<% end %>

	<p>
		<%= form.submit 'Submit' %>
	</p>

<% end %>
