<%= form_with model: @project, local: true do |form| %>
	<% if @project.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
			<ul>
				<% @project.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div>
		<%= form.label :name %>
		<%= form.text_field :name %>
	</div>
	<div>
		<%= form.label :description %>
		<%= form.text_area :description %>
	</div>

	<div>
		<%= form.label :tech_stack %>
		<%= form.text_field :tech_stack %>
	</div>

	<div>
		<%= form.label :deployment %>
		<%= form.text_field :deployment %>
	</div>

	<% form.fields_for :screenshots do |ss_form| %>
		<%= ss_form.label :screenshot %>
		<%= ss_form.file_field :image %>
		<%= ss_form.hidden_field :image, value: ss_form.object.cached_image_data %>
		<%= ss_form.submit %>
	<% end %>

	<!-- Display tags with a project_tag for this project and way to remove them -->
   	<h4>List of Tags for this Project</h4>

	<!-- Select Tags from Checkboxes -->
	<%= form.collection_check_boxes(:tag_ids, Tag.all, :id, :tag_name) %>

	<p>
		<%= form.submit 'Submit' %>
	</p>

<% end %>
