<%= form_with model: @project, local: true, html: { enctype: "multipart/form-data" } do |form| %>
	<% if @project.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
			<ul>
				<% @project.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div>
		<%= form.label :name %>
		<%= form.text_field :name %>
	</div>

	<div>
		<%= form.label "Project Description" %>
		<%= form.text_area :description %>
	</div>

	<div>
		<%= form.label :tech_stack %>
		<%= form.text_field :tech_stack %>
	</div>

	<div>
		<%= form.label :deployment %>
		<%= form.text_field :deployment %>
	</div>
	<div>
		<% @screenshots&.each do |ss| %>
			<%= image_tag ss.image if ss.image %>
		<% end %>

	</div>
	<!-- Fields for uploading Screenshots to the project -->
	<% form.fields_for :screenshots do |ss_form| %>
		<div>
				<p><%= ss_form.label 'Upload Screenshot' %></p>
				<p><%= ss_form.file_field :image %></p>
				<%= ss_form.submit %>
		</div>
	<% end %>
	<!-- Display tags with a project_tag for this project and way to remove them -->
   <!--	<h4>List of Tags for this Project</h4>
   		<% if @project.project_tags.any? %>
   			<% @project.project_tags.each do |pt| %>
   				<%= pt.tag_id %>
   			<% end %>
   		<% end %> -->

	<!-- Select Tags from Checkboxes -->
		<!--<h4>Select Tags to add to this Project</h4>
	<%= form.collection_check_boxes(:tag_ids, Tag.all, :id, :tag_name) %>
-->
	<p>
		<%= form.submit 'Submit' %>
	</p>

<% end %>
