<h1>Some of My Work</h1>

<!--  This will be cards with each project that will turn to monos onclick. Mono will have a carousel of screenshots from project -->
<% @projects.each do |p| %>
<p><%= p.id %></p>
<p><%= p.name %></p>
<p><%= p.description %></p>
<p><%= p.tech_stack %></p>
<!-- Add logic for no link in p.deployment -->
<% if p.deployment %>
	<%= link_to 'See it here', p.deployment %> <br />
<% else %>
	<p>Deployment Location: <%= p.deployment %></p>
<% end %>

<!-- Add options for administration of website with show, edit, destroy actions and add button for new project. -->
<%= link_to 'Edit', edit_project_path(p) %>
<%= link_to 'Delete', project_path(p), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<br />

<!-- Visible only to administrator -->

<%= link_to 'New Project', new_project_path %>