<h1 class="projects title">Project Details</h1>

<h2> <%= @project.id %> - <%= @project.name %></h2>
<p>Description: <%=@project.description %></p>
<p>Technology Stack: <%= @project.tech_stack %></p> 
<p>Deployment Location: <%= @project.deployment %></p>
<p>Screenshots</p>
<% @screenshots.each do |screenshot| %>
	<%= screenshot.image_data %>
<% end %>
<p>Tags</p>
<% @project_tags.each do |pt| %>
	<p><%= pt.tag.tag_name %></p>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> | <%= link_to 'Back', projects_path %>