<%= form_with model: @tag, local: true do |form| %>
	<% if @tag.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>
			<ul>
				<% @tag.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<%= form.label :tag_name %>
	<%= form.text_field :tag_name %>
	<%= form.submit %>
<% end %>