<div class="container-fluid">
	<h1 class="title">All Screenshots</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Screenshot ID</th>
				<th>Title</th>
				<th>Image</th>
				<th>Project</th>
				<th>Show</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>

		<tbody>
			<% @screenshots.each do |ss| %>
			<tr>
				<td><%= ss.id %></td>
				<td><%= ss.title %></td>
				<td><%= image_tag ss.image, width: 150 %></td>
				<td><%= ss.project.name %></td>
				<td><%= link_to 'Show', project_screenshot_path(@project, ss), class: "btn btn-info" %></td>
				<td><%= link_to 'Edit', edit_project_screenshot_path(@project, ss), class: "btn btn-success" %></td>
				<td><%= link_to 'Delete', project_screenshot_path(@project, ss), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<div class="btn-group">
	<%= link_to 'Add a new screenshot', new_project_screenshot_path(@project), class: "btn btn-success" %>
		<%= link_to 'Return to Project', project_path(@project), class: "btn btn-outline-success" %>
	</div>
</div>