<div class="container-fluid">
	<h1 class="title">Screenshot Details</h1>

	<div class="screenshot">
		<h3>Title: <%= @screenshot.title %></h3>
		<%= image_tag @screenshot.image, width: 800 %>
	</div>

	<h2> For Project = <%= @project.name %></h2>

	<div class="btn-group">
		<%= link_to 'Edit', edit_project_screenshot_path(@project, @screenshot), class: "btn btn-info" %>
		<%= link_to 'Back', project_screenshots_path(@project), class: "btn btn-info" %>
	</div>
</div>