<!DOCTYPE html>
<html>
  <head>
    <title>Quigley Web Development, LLC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- Font Awesome CDN -->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-mutate-approach="sync"></script>

    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <%= render partial: 'shared/public_navbar' %>
    <main class="<%= @bg_class ? 'bg-light' : '' %>">
      <%= render partial: 'shared/alerts' %>
        <%= yield %>
    </main>
    <%= render partial: 'shared/public_footer' %>
  </body>
</html>
